<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap" rel="stylesheet">
</head>

<body>
    <!-- <h1>This heading is common in all webpages</h1>
    {% block content %}
    {% endblock %}
     -->
    <div class="navbar">
        <div class="logo"><img src="../assets/logo_vr.jpg" alt="logo"></div>
        <ul class="nav-contents">
            <li>Home</li>
            <li>About me</li>
            <li>Portfolio</li>
            <li>Contact</li>
        </ul>
    </div>
    <!-- <hr> -->
    <div class="hero">
        <div class="hero_content">
            <h1>Vikhyat Rai</h1>
            <p>UnderGrad Student | Engineer | Software Developer</p>
            <p>Passionate about developing interactive web applications!</p>
        </div>
        <div class="hero_img"><img src="../assets/hero_img.jfif " height="400px" width="400px"
                style="border-radius: 50%;" alt="profile_pic"></div>

    </div>
    <div class="about">
        <h1>About Me</h1>
        <p>Greetings! I am Vikhyat Rai, an ambitious undergraduate student majoring in Information Technology at SIES
            Graduate School of Technology. I am not just a tech enthusiast, I am a dynamic force driven by a passion for
            My journey in Information Technology has been a continuous exploration of turning concepts into reality. <br>As
            a skilled front-end developer, I possess the artistry to design interfaces that resonate with both
            aesthetics and functionality. What sets me apart is my commitment to utilizing the generated data from these
            applications to empower informed decision-making. <br>
            Beyond the world of coding, I find solace in the realm of podcasts, where I continually educate myself on
            emerging trends and innovative technologies. Football is not just a sport but a metaphor for teamwork and
            strategy, which I believe reflects in my collaborative approach to projects. Additionally, my passion for
            travel has endowed me with a global perspective, fostering adaptability and cultural awareness. <br>
            My goal is not merely to secure a position, it is to contribute my skills and innovative mindset to a
            dynamic team, pushing the boundaries of what technology can achieve. If you are seeking a candidate who
            brings a unique blend of front-end proficiency and a holistic approach to problem-solving, then I am eager
            to connect and explore potential opportunities !!</p>
    </div>
    <!-- <div class="skills">
        <h2>Skills & Tools</h2>
        <ul>
            <li>Front-End technologies</li>
                <ol>
                    <li><strong>HTML5 / CSS3</strong></li>
                    <li><strong>JavaScript (ES6)</strong></li>
                    <li><strong>ReactJS / Redux</strong></li>
                    <li><strong>Bootstrap / MaterializeCSS</strong></li>
                </ol>
            <li>Back-End technologies</li>
                <ol>
                    <li>Node.js / Express.js</li>
                    <li>Python - Flask / Django</li>

                </ol>
            <li>Data Base</li>
                <ol>
                    <li>MySQL / MongoDB / PostgreSQL</li>

                </ol>
            <li>Devops</li>
                <ol>
                    <li>Git / GitHub / Bitbucket</li>
                    <li>Docker / Kubernetes / AWS EC2 / Firebase</li>
                </ol>
        </ul>
    </div> -->
    <div class="skill-header"><h1>Skills</h1></div>
    <div class="skills">
        
        <div class="html"  >HTML</div>
        <div class="css"  >CSS</div>
        <div class="js"  >JavaScript</div>
        <div class="react"  >React</div>
        <div class="mysql"  >MySQL</div>
        <div class="figma"  >Figma</div>
    </div>
    <div class="contact"><h1>Contact Me!</h1></div>
    <div class="contactOuter">
    <div class="contactMe">
        
        <form action="">
            <label for="name">Name:</label>
            <input type="text" placeholder="Enter a valid name" id="name" name="name"/>
            <label for="email">Email:</label>
            <input type="email" placeholder="Enter a valid email" id="email" name="email"/><br>
            <label for="message">Message:</label>
            <br>
            <textarea id="message" name="message" rows="4"></textarea><br/>
            <button type="submit">Submit</button>
        
        </form>
    </div>
    </div>
</body>

</html>

